<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationId" value="634963930044471" />
    <add key="ApplicationSecret" value="bd069498f0ff0ad08c69dc945ba11e5c" />
    <add key="ExtendedPermissions" value="manage_pages,publish_pages,publish_actions" />
    
    <add key="ChyronServer" value="10.176.4.243" />
    <add key="OBSLocation" value="\\gfxmacpro08.itvplc.ads\facebook_live\service.json" />

    <add key="ComRefTime" value="10" />
    <add key="ComHoldTime" value="30" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>