<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationId" value="634963930044471"/>
    <add key="ApplicationSecret" value="bd069498f0ff0ad08c69dc945ba11e5c"/>
    <add key="ExtendedPermissions" value="manage_pages,publish_pages,publish_actions"/>
    <add key="ChyronAddress" value="10.176.4.243"/>
    <add key="OBSLocation" value="\\gfxmacpro08.itvplc.ads\facebook_live\service.json"/>
  </appSettings>
</configuration>